@model SchoolEMS.Models.Admin
@{
    ViewBag.Title = "AdminRegister";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <center>
                <a class="btn btn-primary btn-lg btn-block" href="~/User">Go to Admin JTable View</a>
            </center>
            <div class="header">
                <h2>Admin Membership</h2>
            </div>
            <div class="body">
                @using (Html.BeginForm("AdminRegister", "Account", FormMethod.Post, new { @class = "Form-Group" }))
                {
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    @Html.LabelFor(a => a.email, "Email", new { @class = "form-label" })
                                                    @Html.TextBoxFor(a => a.email, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(a => a.email, null, new { @class = "text-danger", type = "data" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    @Html.LabelFor(a => a.password, "Password", new { @class = "form-label" })
                                                    @Html.TextBoxFor(a => a.password, new { @type = "password", @class = "form-control" })
                                                    @Html.ValidationMessageFor(a => a.password, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    @Html.LabelFor(a => a.confirmPassword, "Confirm Password", new { @class = "form-label" })
                                                    @Html.TextBoxFor(a => a.confirmPassword, new { @type = "password", @class = "form-control" })
                                                    @Html.ValidationMessageFor(a => a.confirmPassword, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <center>
                                            <input class="btn bg-grey btn-lg btn-block waves-effect" type="submit" value="Save">
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


